<svg xmlns="http://www.w3.org/2000/svg" width="89" height="89" viewBox="0 0 89 89" fill="none">
  <foreignObject x="-150.3" y="-150.3" width="389.6" height="389.6"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(82.15px);clip-path:url(#bgblur_0_9397_3164_clip_path);height:100%;width:100%"></div></foreignObject><circle data-figma-bg-blur-radius="164.3" cx="44.5" cy="44.5" r="29.5" fill="white" fill-opacity="0.3" stroke="black" stroke-width="2"/>
  <path d="M55.5 43.634C56.1667 44.0189 56.1667 44.9811 55.5 45.366L39.75 54.4593C39.0833 54.8442 38.25 54.3631 38.25 53.5933L38.25 35.4067C38.25 34.6369 39.0833 34.1558 39.75 34.5407L55.5 43.634Z" fill="black"/>
  <defs>
    <clipPath id="bgblur_0_9397_3164_clip_path" transform="translate(150.3 150.3)"><circle cx="44.5" cy="44.5" r="29.5"/>
  </clipPath></defs>
</svg>
