.species-spotlight__container {
    padding: 1.5rem 0 1.5rem 1.5rem;
}

.species-spotlight__container>* {
    color: var(--color-primary-forest);
}

@media screen and (min-width: 1024px) {
    .species-spotlight__container {
        padding: 5.792rem 0 6.4rem 4.304rem;
    }
}

.species-spotlight__title {
    display: flex;
    flex-direction: column;
    margin: 0 0 1.1rem 1.1rem;

    color: #242833;
    font-family: var(--bst-font-heading);
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -1px;
}

@media screen and (min-width: 1024px) {
    .species-spotlight__title {
        margin-left: 0;
        margin-bottom: 2rem;
        /* margin-top: 3rem; */
    }
}

.species-spotlight__title span.main {
    color: #242833;
    font-size: 4.8rem;
    line-height: 65px;
    /* 135.417% */
    letter-spacing: -1px;
    text-transform: capitalize;
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 3px;
}

.species-spotlight__title span.main {
    font-family: var(--bst-font-heading);
}


@media screen and (min-width: 1024px) {

    .species-spotlight__title span.main {
        font-size: 4.8rem;
    }
}


.species-spotlight__text {
    color: #232323;

    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "TT Norms Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 26px;
    /* 162.5% */
}

.species-spotlight__text p {
    margin: 0;
}

.species-spotlight__author {
    color: var(--Text-black, #000);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "TT Norms Pro Expanded";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    /* 135.714% */
}

.species-spotlight__author_reviews {
    /* margin-top: 5rem; */
    display: flex;
    gap: 2rem;
    align-items: center;
}

.species-spotlight__slider {
    position: relative;
    width: 100%;
}

.species-spotlight__cell {
    width: 60%;
    margin-right: 12px;
    position: relative;
    transition: transform 0.3s ease;
}

@media screen and (min-width: 768px) {
    .species-spotlight {
        background: linear-gradient(160deg, #FFF 30.25%, #F6F7F8 88.06%);

    }

    .species-spotlight__cell {
        width: 40%;
        margin-right: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .species-spotlight__cell {
        width: 58%;
    }
}

@media screen and (min-width: 2000px) {
    .species-spotlight__cell {
        width: 40%;
    }
}

.species-spotlight__card {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .species-spotlight__card {
        flex-direction: row;
        gap: 3.4rem;
        align-items: stretch;
    }
}

.species-spotlight__image-wrapper {
    width: 100%;
    height: auto;
    aspect-ratio: 224/295;
}

@media screen and (min-width: 1024px) {
    .species-spotlight__image-wrapper {
        width: 224px;
        height: 295px;
    }
}

.species-spotlight__image-wrapper img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

@media screen and (min-width: 1024px) {
    .species-spotlight__content {
        width: 455px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1800px) {
    .species-spotlight__content {
        width: 60%;
        padding-right: 50px;
    }
}


.species-spotlight__container .flickity-button-icon {
    display: none;
}

.species-spotlight__container .flickity-prev-next-button.previous,
.species-spotlight__container .flickity-prev-next-button.next {
    display: none;
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    width: 58px;
    background-color: transparent;
    border: none;
    background-size: 58px;
    top: -5rem;
    z-index: 1;
}

.species-spotlight__container .flickity-prev-next-button.previous {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%2258%22 height=%2232%22 viewBox=%220 0 58 32%22 fill=%22none%22><path d=%22M11.1161 15.1162C10.6279 15.6044 10.6279 16.3958 11.1161 16.884L19.071 24.839C19.5592 25.3271 20.3506 25.3271 20.8388 24.839C21.327 24.3508 21.327 23.5593 20.8388 23.0712L13.7677 16.0001L20.8388 8.92905C21.327 8.44089 21.327 7.64944 20.8388 7.16128C20.3507 6.67313 19.5592 6.67313 19.071 7.16128L11.1161 15.1162ZM48 16.0001L48 14.7501L12 14.7501L12 16.0001L12 17.2501L48 17.2501L48 16.0001Z%22 fill=%22%23282828%22/></svg>');
    right: 12rem;
    left: auto;
}

.species-spotlight__container .flickity-prev-next-button.next {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%2258%22 height=%2232%22 viewBox=%220 0 58 32%22 fill=%22none%22><path d=%22M46.8839 16.884C47.372 16.3959 47.372 15.6044 46.8839 15.1162L38.9289 7.16129C38.4408 6.67313 37.6493 6.67313 37.1612 7.16129C36.673 7.64945 36.673 8.4409 37.1612 8.92906L44.2322 16.0001L37.1612 23.0712C36.673 23.5593 36.673 24.3508 37.1612 24.839C37.6493 25.3271 38.4408 25.3271 38.9289 24.839L46.8839 16.884ZM10 16.0001L10 17.2501L46 17.2501L46 16.0001L46 14.7501L10 14.7501L10 16.0001Z%22 fill=%22%23282828%22/></svg>');
    right: 5rem;
}

@media screen and (min-width: 1024px) {

    .species-spotlight__container .flickity-prev-next-button.previous,
    .species-spotlight__container .flickity-prev-next-button.next {
        display: block;
    }
}

@media screen and (max-width: 820px) {
    .species-spotlight__title span.main {
        font-size: 2.4rem;
        line-height: 3.2rem;
        justify-content: center;
    }

    .species-spotlight__container {
        padding: 2rem 1.8rem;
    }

    .species-spotlight__title span.main svg {
        width: 1.4rem;
        height: 1.4rem;
    }

    .species-spotlight__cell {
        width: 100%;
        margin: 0;
    }

    .species-spotlight__image-wrapper {
        display: none;
    }

    .species-spotlight__content {
        text-align: center;
    }

    .species-spotlight__title {
        margin: 0;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        /* 100% */
    }

    .species-spotlight__text {
        font-size: 15px;
        font-style: normal;
        font-weight: 450;
        line-height: 22px;
        padding: 0 4.5rem;
        /* 146.667% */
    }

    .species-spotlight__author_reviews {
        margin-top: 1rem;
        justify-content: center;
    }

    .reviews_divider {
        display: block !important;
        background: linear-gradient(90deg, #209ACA 0%, #5AAD41 50.92%, #E79C43 94.48%);
        height: 2px;
        width: 100%;
        padding: 0 1rem;
        margin: 1.5rem 0;

    }

    .species-spotlight__container .flickity-prev-next-button.previous,
    .species-spotlight__container .flickity-prev-next-button.next {
        display: block;
    }


    .species-spotlight__container .flickity-prev-next-button.previous {
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2212%22 viewBox=%220 0 58 32%22 fill=%22none%22><path d=%22M11.1161 15.1162C10.6279 15.6044 10.6279 16.3958 11.1161 16.884L19.071 24.839C19.5592 25.3271 20.3506 25.3271 20.8388 24.839C21.327 24.3508 21.327 23.5593 20.8388 23.0712L13.7677 16.0001L20.8388 8.92905C21.327 8.44089 21.327 7.64944 20.8388 7.16128C20.3507 6.67313 19.5592 6.67313 19.071 7.16128L11.1161 15.1162ZM48 16.0001L48 14.7501L12 14.7501L12 16.0001L12 17.2501L48 17.2501L48 16.0001Z%22 fill=%22%23282828%22/></svg>');
        top: 50%;
        left: -2%;
        background-size: 35px;
    }

    .species-spotlight__container .flickity-prev-next-button.next {
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2212%22 viewBox=%220 0 58 32%22 fill=%22none%22><path d=%22M46.8839 16.884C47.372 16.3959 47.372 15.6044 46.8839 15.1162L38.9289 7.16129C38.4408 6.67313 37.6493 6.67313 37.1612 7.16129C36.673 7.64945 36.673 8.4409 37.1612 8.92906L44.2322 16.0001L37.1612 23.0712C36.673 23.5593 36.673 24.3508 37.1612 24.839C37.6493 25.3271 38.4408 25.3271 38.9289 24.839L46.8839 16.884ZM10 16.0001L10 17.2501L46 17.2501L46 16.0001L46 14.7501L10 14.7501L10 16.0001Z%22 fill=%22%23282828%22/></svg>');
        top: 50%;
        background-size: 35px;
        right: -2%;
    }
}

@media screen and (max-width: 750px) {
    .species-spotlight__container .flickity-prev-next-button.next {
        right: -5%;

    }

    .species-spotlight__container .flickity-prev-next-button.previous {
        left: -5%;

    }

}