.contact-banner {
    padding: 5rem 6rem;
    background: #F6F7F8;
}

.contact-banner--image-wrap {
    width: 100%;
    display: flex;
}

.contact-banner--image-wrap img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.contact-banner--text-content {
    display: flex;
    align-items: center;
    padding: 6rem 7rem;
    background: #242833;
}

.contact-banner--text-content-left {
    flex-basis: 50%;
}

.contact-banner--text-content-left h1 {
    margin: 0;
    color: var(--very-light-bg, #FBF8F4);
    font-family: Anuphan;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: -1px;
    text-transform: capitalize;
    text-align: left;
}

.contact-banner--text-phone {
    /* padding-left: 2rem; */
}

.contact-banner--text-phone p {
    color: var(--2, #FBF8F4);
    font-family: "TT Norms Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 26px;
}

.contact-banner--text-phone p strong {
    font-family: "TT Norms Pro Expanded";
    font-size: 14px;
    line-height: 16px;
}

.contact-banner--text-content-right {
    flex-basis: 50%;
}

.contact-banner--rte p {
    color: var(--2, #FBF8F4);
    font-family: "TT Norms Pro";
    font-size: 22px;
    font-style: normal;
    font-weight: 450;
    line-height: 36px;
}

.contact-banner--rte a,
.contact-banner--rte a:hover {
    color: var(--2, #FBF8F4);
}

@media(max-width:1024px) {
    .contact-banner--text-content {
        padding: 2rem 2rem;
        gap: 2rem;
    }

    .contact-banner--text-content-left h1 {
        font-size: 38px;
    }

}

@media(max-width:767px) {
    .contact-banner {
        padding: 1rem;
    }

    .contact-banner--text-content-left,
    .contact-banner--text-content-right {
        flex-basis: 100%;
        width: 100%;
    }

    .contact-banner--text-content {
        flex-direction: column;
        padding: 2rem;
    }

    .main_contact {
        flex-direction: column;
    }

    .contact-banner--text-content-left h1 {
        font-size: 26px;
        line-height: 40px;
        background-size: 35px 35px;
        padding: 8px 12px;
        padding-left: 0;
    }

    .contact-banner--text-phone {
        padding: 0;

    }

    .contact-banner--text-phone p strong {
        font-size: 11px;
        line-height: 16px;
    }

    .contact-banner--text-phone p,
    .contact-banner--rte p {
        /* margin: 0; */
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .contact-banner--rte p {
        margin-top: 0;
    }

    /* Change text color of detected phone numbers */
    a[href^="tel"] {
        color: #FBF8F4 !important;
        /* Change to any color */
        text-decoration: none !important;
        /* Remove underline */
        /* font-weight: bold;  */
    }

    /* Target all auto-detected links */
    a[href^="tel"]:hover,
    a[href^="tel"]:focus {
        color: #FBF8F4 !important;
        /* Change color on hover */
        text-decoration: none !important;
        /* Add underline on hover */
    }

}

@media screen and (max-width:1024px) and (min-width: 820px) {

    .contact-banner--rte p {
        font-size: 16px;
        line-height: 24px;
    }

}