.section-contact-form {
  background: #F6F7F8 !important;
}

.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}



/* contact page css  */
.gradient.template-page\.contact.contact h1.main-page-title.page-title {
  font-size: 99px;
  line-height: 108px;
  color: #00a19d;
  text-align: center;
  font-weight: 400;
  font-family: "Radiant Beauty";
  margin-bottom: 33px;
}

.gradient.template-page\.contact.contact .rte.scroll-trigger p a {
  color: #00a19d;
  text-decoration: underline;
}

.gradient.template-page\.contact.contact .rte.scroll-trigger p {
  font-size: 22px;
  line-height: 33px;
  color: #6c625a;
  letter-spacing: 0;
  text-align: center;
  font-weight: 400;
}

.main_contact {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  align-items: center;
}

#ContactForm {

  flex-basis: 50%;
  width: 100%;
  max-width: 500px;
  /* margin-left: auto; */
  margin-right: auto;
  padding: 0;
  padding-left: 10rem;
}

.right_form_sec {
  flex-basis: 50%;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 8%;
  gap: 4rem;
}

.gradient.template-page\.contact.contact .color-scheme-1.gradient .page-width {
  padding-top: 0;
}

#ContactForm .field:after,
#ContactForm .field:before {
  display: none;
}

#ContactForm .field label {
  display: none;
}

#ContactForm .field input.field__input {
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 2px;
  border: 1px solid var(--13, #808080);
  background: #FFF;
  padding: 1.2rem;
  color: var(--Test-mid, #282828);

  font-family: "TT Norms Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 26px;
  /* 162.5% */
}

#ContactForm .field textarea.field__input {
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 2px;
  border: 1px solid var(--13, #808080);
  background: #FFF;
  padding: 1.2rem;
  color: var(--Test-mid, #282828);
  font-family: "TT Norms Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 26px;
  /* 162.5% */
}

#ContactForm .contact__fields {
  grid-template-columns: repeat(1, 1fr);
}

#ContactForm .field input.field__input::placeholder,
#ContactForm .field textarea.field__input::placeholder {
  opacity: 1;
}

#ContactForm .field input.field__input::placeholder {
  color: #282828 !important;
}

#ContactForm .field input.field__input:-ms-input-placeholder {
  color: #282828 !important;
}

/* Internet Explorer */
#ContactForm .field input.field__input::-ms-input-placeholder {
  color: #282828 !important;
}

/* Edge */
#ContactForm .field input.field__input::-webkit-input-placeholder {
  color: #282828 !important;
}

/* Chrome, Safari */
#ContactForm .field input.field__input::-moz-placeholder {
  color: #282828 !important;
}

/* Firefox */

#ContactForm .field textarea.field__input::placeholder {
  color: #282828 !important;
}

#ContactForm .field textarea.field__input:-ms-input-placeholder {
  color: #282828 !important;
}

/* Internet Explorer */
#ContactForm .field textarea.field__input::-ms-input-placeholder {
  color: #282828 !important;
}

/* Edge */
#ContactForm .field textarea.field__input::-webkit-input-placeholder {
  color: #282828 !important;
}

/* Chrome, Safari */
#ContactForm .field textarea.field__input::-moz-placeholder {
  color: #282828 !important;
}

/* Firefox */

.contact__button button {
  width: 100%;
  display: flex;
  /* width: 500px; */
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background: #F6F7F8;
  color: #000;

  font-family: "TT Norms Pro Expanded";
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  /* 146.154% */
  text-transform: uppercase;
}

.contact__button button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  padding: 2px;
  background: linear-gradient(90deg, #209aca, #5aad41, #e79c43);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 0;
}

.contact__button button::after {
  content: none;
}

.location_title,
.email_title {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #000;

  font-family: "TT Norms Pro Expanded";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;

  margin: 0;
}

.location_text,
.email_text {
  margin: 0;
  color: #232323;

  font-family: "TT Norms Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 26px;
}

.location_text p,
.email_text p {
  margin: 0;
}

.email_text a,
.email_text a:hover {
  color: #232323;
}


@media(max-width:1024px) {
  #ContactForm {
    padding-left: 4rem;
  }

  .main_contact {
    gap: 2rem;
  }

  .right_form_sec {
    padding-right: 0;
  }

}

@media(max-width:767px) {


  #ContactForm {
    padding: 2.5rem 3.8rem;
  }

  .contact__button {
    margin-top: 1rem;
  }

  #ContactForm .field input.field__input,
  #ContactForm .field textarea.field__input {
    font-size: 16px;
    line-height: 26px;
  }

  .right_form_sec {
    flex-basis: 100%;
    width: 100%;
    padding: 0;
    padding-left: 4rem;
    gap: 1rem;
  }

  .location_title,
  .email_title {
    font-size: 14px;
    line-height: 19px;
  }

  .location_text,
  .email_text {
    font-size: 16px;
    line-height: 26px;
  }
}